body {
    font-family: Arial, sans-serif;
    background-image:url('imagens/imagemLoguin3_resized.webp');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(17, 5, 89);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: green;
    margin: 0 0 20px;
}

p {
    color: #333;
    margin: 0 0 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(17, 5, 89);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
   color: gold;
}
